/* LOGIN CREATE ACCOUNT */

.logincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.secondbutton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
  }

.secondbutton:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }

.buttoncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.createaccountcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.loginaccountcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}


.password {
    margin-top: 20px;
}
  