/* text styles */
.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.p {
    display: flex;
    justify-content: center;
}

.aboutcontainer {
    display: flex;
    justify-content: center;
}

.text {
    width: 700px;
}

/*background styles */

.backgroundcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundimg{
    max-width: 100%;
    width: 1200px;
    height: 600px;
    border-radius: 50px;
    margin-top: 50px;
}

/* cards for programs */
.cardcontainer {
    display: flex;
    overflow-x: auto;
    gap: 20px;

}

.card {
    flex: 0 0 auto;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.308);
    transition: 0.3s;
    width: 200px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(255, 255, 255);
}

.cardimage {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-top: 1px;
}

.container {
    padding: 2px 16px;
}